---
layout: default
title: home

---

<header id="header">
	<h1>—SORAIA<br>GOMES<br>TEIXEIRA</h1>

	<nav role="navigation">
		<div id="menuToggle">
			<input type="checkbox" id="open" />
			<label id="about_label" for="open">
				<span class="open">SOBRE</span>
				<span class="close">FECHAR</span>
			</label>
			<div id="menu">
				<div class="description">
					{{ sobre }}
				</div>
				<div class="contactos">
					<h4>Contactos</h4>
					<a href="mailto:{{ email }}" target="_blank">{{ email }}</a><br><br>
					{{ outros_contactos }}
				</div>
			</div>
		</div>
	</nav>


	</div>
</header>