<header id="header">
	<h1>—SORAIA<br>GOMES<br>TEIXEIRA</h1>

	<nav role="navigation">
		<div id="menuToggle">
			<input type="checkbox" id="open" />
			<label id="about_label" for="open">
				<span class="open">SOBRE</span>
				<span class="close">FECHAR</span>
			</label>
			<div id="menu">
				<div class="description">
					<p><span class="bold">Soraia Gomes Teixeira</span>, nasceu em 1990 no Porto, Portugal.</p>
					<p>Estudou Artes Visuais no ensino secundário e em 2009 ingressou no curso de Design Industrial no Instituto Politécnico do Porto. Em 2012, frequentou o mestrado de Design de Produto na Escola Superior de Artes e Design das Caldas da
						Rainha,
						tendo como tema de tese “Como o corpo molda o objecto e como o objecto molda o corpo”, trabalho orientado pelo designer e professor Miguel Vieira Baptista.</p>
					<p>Paralelamente, estudou clarinete em várias academias de música no Porto e Espinho.
						Em 2014, foi seleccionada para a mostra POP’s (projectos de origem portuguesa), mostra organizada pela loja da Fundação de Serralves. No mesmo ano, é seleccionada para a Mostra de Jovens Criadores Portugueses, concurso organizado pelo
						Clube
						Português de Artes e Ideias, e em 2015 representa Portugal na categoria de Design de Equipamento, na VII Bienal da Comunidade de Países de Língua Portuguesa em Maputo, Moçambique.</p>
					<p>Em 2017, colaborou com o estúdio Ciszak Dalmas em Madrid. Atualmente, trabalha em nome próprio em colaboração com a industria portuguesa, leciona disciplinas de projeto enquanto professora assistente convidada na Escola Superior de
						Media
						Artes e design do Politécnico do Porto e frequenta o programa doutoral em design na Universidade de Aveiro.</p>
				</div>
				<div class="contactos">
					<h4>Contactos</h4>
					<a href="mailto:soraiamgfteixeira@gmail.com" target="_blank">soraiamgfteixeira@gmail.com</a><br><br>
					<a href="https://goo.gl/maps/E4J996dSafZTgsqo8" target="_blank">Rua da Alegria, nº 911 - sala 2, Porto</a>
				</div>
			</div>
		</div>
	</nav>


	</div>
</header>