
@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/basiercirclemono-regular-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/basiercirclemono-regularitalic-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/basiercirclemono-medium-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/basiercirclemono-mediumitalic-webfont.ttf) format('truetype');
}
